@model dynamic

@{
    ViewBag.Title = "Movies Home";
}

<div ng-controller="movieController">

    <input type="text" ng-model="helloAngular" />
    <h1>{{helloAngular}}</h1>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
</div>
